html {
  min-height: 100%;
}

body{
  height: 100%;
  background-image: linear-gradient(to bottom right, #C137D8, #FF477E);
}

.App {
  /* background-image: linear-gradient(to bottom right, #C137D8, #FF477E); */
  text-align: left;
  font-family: 'Fira Sans', sans-serif;
  color: #FAF9F6;
}

#header {
  padding-left: 32px;
  padding-top: 24px;
}